/* I'm a CSS comment! */

/* *is a universal selector for styling every element */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* apply styles to the body */
body {
    font-family: Helvetica, Arial, sans-serif;
    color: #39A6B2;
}

/* apply styles to the header */

header {
    padding: 20px 35px;
    background-color: #39A6B2;
}

/* apply styles to the h1 header */

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #FCE138;
    margin: 0;
    display: inline;
}

/* apply styles to the header a */

header a {
    text-decoration: none;
    color: #FCE138;
}

/* apply styles to the header nav */

header nav {
    float: right;
    margin: 7px;
}

/* apply styles to the header nav ul li */

header nav ul li {
    display: inline;
}

/* apply styles to the header nav ul li a*/

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

/* apply styles to the footer */

footer {
    background: #FCE138;
    width: 100%;
    padding: 40px 35px;
}

/* apply styles to the footer */

footer h2 {
    display: inline;
    color: #024E76;
    font-size: 30px;
    margin: 0;
}

footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024E76;
}

/* apply styles to the sections */

section {
    padding: 60px;
}

/* Hero Style Start */
.hero {
    background-image: url("../images/hero-bg.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}
/* Hero Style End */

/* Hero Form Style Start */
.hero-form {
    background-color: #FCE138;
    color: #024E76;
    padding: 20px;
    width: 500px;
    border: solid #024E76 3px;
    position: absolute;
    bottom: 120px;
    right: 140px;
}
/* Hero Form Style End */

/* Hero Form P Style Start */
.hero-form p {
    margin: 5px 0 15px 0;
}

/* apply styles to the h3 element */
.hero-form h3 {
    margin: 0;
    font-size: 24px;
}

/* apply styles to hero-form label */
.hero-form label {
    margin: 0 5px;
}

/* apply styles to form-input class */
.form-input {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    width: 100%;
    color: #024E76;
    margin-bottom: 15px;
}

/* apply styles to hero-form button */
.hero-form button {
    color: #FCE138;
    background-color: #024E76;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

/* apply styles to Intro section */
.intro {
    text-align: center;
}

/* apply styles to Intro h2 section */
.intro h2 {
    font-size: 55px;
    color: #024E76;
    margin-bottom: 35px;
    padding: 0 100px 20px 100px;
    border-bottom: 3px solid;
    border-color: #FCE138;
    display: inline-block;
}

/* apply styling for intro p section */
.intro p {
    line-height: 1.7;
    color: #39A6B2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
}