/* I'm a CSS comment! */

/* *is a universal selector for styling every element */

* {
    margin: 0;
    padding: 0;
}

/* apply styles to the body */
body {
    font-family: Helvetica, Arial, sans-serif;
    color: #39A6B2;
}

/* apply styles to the header */

header {
    padding: 20px 35px;
    background-color: #39A6B2;
}

/* apply styles to the h1 header */

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #FCE138;
    margin: 0;
    display: inline;
}

/* apply styles to the header a */

header a {
    text-decoration: none;
    color: #FCE138;
}

/* apply styles to the header nav */

header nav {
    float: right;
    margin: 7px;
}

/* apply styles to the header nav ul li */

header nav ul li {
    display: inline;
}

/* apply styles to the header nav ul li a*/

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}